[submodule "nim-test-node/nim-libp2p"]
	path = nim-test-node/nim-libp2p
	url = https://github.com/vacp2p/nim-libp2p.git
[submodule "nim-test-node/nim-lsquic"]
	path = nim-test-node/nim-lsquic
	url = https://github.com/vacp2p/nim-lsquic.git
