*.exe
nim-test-node/nimbledeps/*
nim-test-node/main
nim-test-node/stew/*
nim-test-node/nim-stew-master/*
shadow/*.exe
shadow/shadow*
shadow/latencies*
shadow/network_topology.gml
go-test-node/go-test-nodes
rust-test-node/target